<!DOCTYPE html>
<html>
<head>

    <div style="background-color: #343a40; color: white; padding: 10px; text-align: center; font-size: 14px;">
        <span style="float: left;">Copyright © 2025 Miqueias Masuete. All rights reserved.</span>
        <span style="float: right;">Developed By Miqueias Masuete</span>
        <div style="clear: both;"></div>
    </div>

    <title>PPA - Tela Inicial</title>
    <style>
        .image-container{
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>


    <div class="image-container">
        <img src="/static/logo.png" alt="Logo do PPA" height="246" width="342">

    </div>


    <h1>BEM VINDO AO PPA</h1>
    <h2> PROGAMA DE PREENCHIMENTO DE ATEP </h2> 
    
    <button onclick="location.href='/atep_form.html'">Iniciar Preenchimento</button>
</body>
</html>